page-list {
    ion-card{
        width: 100vw !important;
        margin:auto !important;
    }
    .myImg{
        width:90%;
        margin:auto;
       
        
    }
    .iconYellow{
        color:#f4e242 ;
    }

}
