page-login2 {
    H2 { text-align: center }
    .bg-image{
        background-image:url('../assets/imgs/ba2.jpg') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
       
    }}
