page-home {
    H1 { text-align: center }
    H2 { text-align: center }
    h1 { color: #DC143C; }
    h2 { color: #dc143c; }
       
  .bg{
      background: linear-gradient(to right,#904779,#fff 100%);
  }
  /*.bg-image{
      background-image:url('../assets/imgs/shop.jpg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  }*/
}
